@using System.Text
@using Newtonsoft.Json
@model dynamic

<ul class="twitter-list">
    @{
        var count = 0;
    }

    @foreach (var tweet in Model)
    {
        if (count < 4)
        {
            count++;
            var text = tweet.text.Value;

            foreach (var url in tweet.entities.urls)
            {
                text = text.Replace(url.url.Value, "<a href='" + url.expanded_url.Value + "'>" + url.display_url.Value + "</a>");
            }

            <li>
                <p>
                    @Html.Raw(@text)
                </p>
            </li>
        }
    }
</ul>