@*
    Base layout just to keep things a bit tidy in Umbraco back office.
*@
@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

    <div id="header-landing" class="blog">
        @{ Html.RenderPartial("_TopNavigation"); }
    </div>

    @RenderSection("uBlogsyMain")
