
#header-landing.blog { height: auto;}

#features div.row .the-box-landing { height: 400px;}
#project .img-wrap { margin-top: 15px;margin-bottom: 15px;height: 550px;overflow: hidden; }
#pricing-table footer { background-color: inherit;}

#pricing-table blockquote { border-left: 0;}
#pricing-table .blockquote-reverse { border-right: 0;}
#pricing-table footer { padding-top: 0;}

.padtop { margin-top: 30px; }

.the-box-landing h3 .blog-title { font-size: 20px;font-weight: 400;}
#blog .blog-column { height: 250px;}

#blog_landing .col-md-9 h2 { margin: 0;font-size: 20px; border-bottom: 1px solid #c4c4c4}
#blog_landing a { color: #333; }
#blog_landing a:hover { text-decoration: none;color: #B3C833; }
#blog_landing p { color: #666666; }
#blog_landing .row { margin-bottom: 20px;}

#blog_detail h1 { font-size: 45px;font-weight: 300; }
#blog_detail .subtitle { font-size: 30px;font-weight: 300;line-height: 120%; }

.twitter-list { word-wrap: break-word;}
.twitter-list li { border-bottom: 1px solid #666;}
#header-landing p.follow { font-size: 18px;color: #fff; }